header {
    padding: 0px;
    text-align: center;
}

div {
    background-color: #000000c0;
    padding: 0px;
    text-align: left;
}

buttonh {
    background-color: #00000000;
    border: none;
    color: rgba(255, 255, 255, 0.808);
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'sans-serif';
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 5px;
}

buttonh:hover {
    background-color: #000000c0;
}