<!DOCTYPE html>
<html>
    <head>
        <title>Area of Circle</title>
    </head>
    <body>
        <form action="/area-of-circle.html" method="POST">
            <label for="inputRadius">Enter Radius</label>
            <input type="number" name="inputRadius" id="inputRadius">
            <input type="submit" value="Convert">
        </form>

        {% if result %}
        <p>Area of Circle: {{ result }}</p>
        {% endif %}

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </body>
</html>