<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Area of Triangle</title>
    </head>
    <body>
        <header>
            <h1>Area of Triangle</h1>
            <div>
                <nav>
                    <button onclick="goToHome()">Home</button>
                    <button onclick="goToProfile()">Profile</button>
                    <button onclick="goToWorks()">Programming Works</button>
                    <hr>
                </nav>
            </div>
        </header>

        <main>
            <h3>Calculate Area of Triangle</h3>
            <form action="/area-of-triangle.html" method="POST">
                <label for="inputWidth">Enter Width </label>
                <input type="number" name="inputWidth" id="inputWidth">
                <br>
                <label for="inputHeight">Enter Height</label>
                <input type="number" name="inputHeight" id="inputHeight">
                <br><input type="submit" value="Convert">
            </form>

            {% if result %}
            <p>Area of Triangle: {{ result }}</p>
            {% endif %}

            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

        </main>
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>