<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Area of Circle</title>
    </head>
    <body>
        <!--Header-->
        {% include 'header.html' %}
        <main>
            <h3>Calculate Area of Circle</h3>
            <form action="/area-of-circle.html" method="POST">
                <label for="inputRadius">Enter Radius</label>
                <input type="number" name="inputRadius" id="inputRadius">
                <input type="submit" value="Calculate">
            </form>

            {% if result %}
            <p>Area of Circle: {{ result }}</p>
            {% endif %}

            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

        </main>
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>