<header>
    <div class="header-div">
        <div class="logo">
            <a href="profile.html"><img src="/static/images/marxius.png" alt="About Me"></a>
        </div>
        <div class="header-buttons">
            <nav class="nav-buttons">
                <button onclick="goToHome()">Home</button>
                <button onclick="goToProfile()">Profile</button>
                <button onclick="goToContact()">Contact</button>
                <button onclick="goToWorks()">Programming Works</button>
            </nav>
        </div>
    </div>
</header>