<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <header>
            <h1>Hello!! Welcome to my Website!!</h1>

            <nav>
                <button onclick="goToHome()">Home</button>
                <button onclick="goToProfile()">Profile</button>
                <button onclick="goToWorks()">Programming Works</button>
                <hr>
            </nav>
        </header>
        <main>
            <h3>This is the Home Page</h3>
            <p>This is a simple web application built using Flask. You can navigate to different sections using the buttons above.</p>
        </main>
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
