<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Home Page</title>
    </head>
    <body>
        <!--Header-->
        {% include 'header.html' %}
        <main>
            <h3>This is the Home Page</h3>
            <p>This is a simple web application built using Flask. You can navigate to different sections using the buttons above.</p>
        </main>
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
