<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Profile</title>
    </head>
    <body>
        <!--Header-->
        {% include 'header.html' %}
        <main>
            <p>Name: Marxius Ivan Adolf Denniel</p>
            <p>Age: 19</p>
            <p>Course: Bachelor of Science in Computer Engineering</p>
            <p>Hobbies: Playing Video Games, Reading Manga, Watching Anime</p>
            <p>Ambition: To become a successful software developer and contribute to innovative tech solutions.</p>
        </main>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>