<!DOCTYPE html>
<html>
    <head>
        <title>Convert to Uppercase</title>
    </head>
    <body>
        <header>
            <h1>Convert to Uppercase</h1>

            <nav>
                <button onclick="goToHome()">Home</button>
                <button onclick="goToProfile()">Profile</button>
                <button onclick="goToWorks()">Programming Works</button>
                <hr>
            </nav>
        </header>

        <form action="/to-uppercase.html" method="post">
            <label for="inputString">Enter a String:</label>
            <input type="text" name="inputString" id="inputString">
            <input type="submit" value="Convert">
        </form>

        {% if result %}
        <p>Converted String: {{ result }}</p>
        {% endif %}
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>