<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Convert to Uppercase</title>
    </head>
    <body>
        <header>
            <h1>Convert to Uppercase</h1>
            <div>
                <nav>
                    <buttonh onclick="goToHome()">Home</buttonh>
                    <buttonh onclick="goToProfile()">Profile</buttonh>
                    <buttonh onclick="goToWorks()">Programming Works</buttonh>
                    <hr>
                </nav>
            </div>
        </header>
        <main>
            <h3>Convert a String to Uppercase</h3>
            <form action="/to-uppercase.html" method="post">
                <label for="inputString">Enter a String:</label>
                <input type="text" name="inputString" id="inputString">
                <input type="submit" value="Convert">
            </form>

            {% if result %}
            <p>Converted String: {{ result }}</p>
            {% endif %}
        </main>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>