<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Programming Works</title>
    </head>
    <body>
        <header>
            <h1>Programming Works</h1>
            <div>
                <nav>
                    <button onclick="goToHome()">Home</button>
                    <button onclick="goToProfile()">Profile</button>
                    <button onclick="goToWorks()">Programming Works</button>
                    <hr>
                </nav>
            </div>
        </header>

        <main>
            <h3>Choose a Programming Work</h3>
            <br><button onclick="goToUppercase()">Convert String into Uppercase</button>
            <br><button onclick="goToAreaOfCircle()">Area of a Circle</button>
            <br><button onclick="goToAreaOfTriangle()">Area of a Triangle</button>
        </main>
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>