<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Programming Works</title>
    </head>
    <body>
        <!--Header-->
        {% include 'header.html' %}
        <main class="works-main">
            <h3>Choose a Programming Work</h3>
            <div class="works-buttons">
                <div onclick="goToUppercase()">
                    Convert into Uppercase
                    <img src="/static/images/works_1.png" alt="Convert String into Uppercase">
                </div>
                <div onclick="goToAreaOfCircle()">
                    Area of a Circle
                    <img src="/static/images/works_2.png" alt="Area of a Circle">
                </div>
                <div onclick="goToAreaOfTriangle()">
                    Area of a Triangle
                    <img src="/static/images/works_3.png" alt="Area of a Triangle">
                </div>
                <div onclick="goToRPS()">
                    Rock Paper Scissors
                    <img src="/static/images/works_4.png" alt="Rock Paper Scissors">
                </div>
            </div>
        </main>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>